.flex{
    width: 280px;
    margin: 30px auto;
    background-color: lightgray ;
}

.custom-flex{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    size: 50px;
}